target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/program/Bg.java
/src/main/java/language/util/Circle.java
/src/main/java/language/util/Documents.java
/src/main/java/program/Drawer.java
/src/main/java/compiler/semantic/InvalidPathException.java
/src/main/java/program/Libraries.java
/src/main/resources/ingredients/pepperoni.png
/src/main/java/program/Program.java
/src/main/java/language/util/Segment.java
/src/main/java/language/types/Cheese.java
/src/main/java/program/DefaultColors.java
/src/main/java/language/util/Drawable.java
/src/main/java/program/DrawManager.java
/src/main/resources/ingredients/ham.png
/src/main/java/compiler/semantic/IllegalDeclarationException.java
/src/main/java/language/util/Ingredible.java
/src/main/java/language/types/Ingredients.java
/.idea/inspectionProfiles/Project_Default.xml
/src/main/java/language/types/Sauce.java
/src/main/java/language/util/Specializable.java
